body{
        margin: 0%;
        font-family: Arial, Helvetica, sans-serif;

}
header{
        font-size: 50px;
        display: flex;
        background-color: blue;
        color: aliceblue;
        grid-template-columns: 1fr auto;
        align-items: center;
        padding: 10px;
        justify-content: space-between;
        
        
}
.title{
        text-align: left;
}
.search{
        text-align: center;
        margin-left: 100px;
        color: gray;
        
}
.search form{
        display: flex;
        align-items: center;
}
.search input[type="text"]{
        width:500px ;
        padding: 10px;
        border-radius: 5px;
        border: none;
        
}
.search button{
        padding: 5px;
        border: none;
        color: blueviolet;
        border-radius: 5px;
        cursor: pointer;
        background-color: aliceblue;
        width: 80px;

}
.icons{
        text-align: right;
        font-size: 25px;
        display: flex;
        align-items: center;
}
.language{
        color: white;
        font-family: arial;
        font-weight: bold;
        font-size: 18px;
        background-color: black;
        border-radius: 5px;
}
.bi-heart{
        color: red;
        background-color: wheat;
        border-radius: 5px;
        fill: red;

}
.bi-person{
        color: white;
        background-color: black;
        border-radius: 5px;
}
.bi-signin{
        
         /* color: white;
        font-family: arial;
        font-size: 18px;
        font-weight: bold; */
        padding: 5px;
        background-color: black;
        color: white;
        border-radius: 5px;
}
.title {
font-family: Arial;
font-size: 40px;
}
.scroll-bar{
overflow-x: auto;
overflow-y: hidden;
flex-grow: 1;
}
.card {
width: 300px;
box-shadow: 2px 2px 2px black;
padding: 10px;
margin: 15px;
height: 500px;
transition: transform 0.3s ease-in-out;

box-shadow: 0 4px 8px 0;


}
.container{
display: flex;
flex-direction:row ;

}
.card-img {
width: 250px;
height:350px;
}
.card-body {
height: 350px;
text-align: center;
font-family: Arial;
font-size: 30px;
width: 280px;
}
.card-title {
margin-top: 20px;
margin-bottom: 10px;
}
.card-subtitle {
margin-bottom: 10px;
}
.rating {
color:goldenrod;
}
.bt{
        background-color:rgb(119, 232, 127) ;
        border-radius: 5px;
        border: solid rgb(234, 224, 224);
        padding: 10px 10px;
        font-size: 15px
        
        
}
button:hover {
        background-color: #e13d3f;
        }
@media(max-width:1100px)
{.container {
display: flex;
flex-direction:row-reverse;
}
}